* {
    margin: 0;
    padding: 0;
    
}
.header{
     background: url(/public/images/ghf.png)0px -20px no-repeat;
}
.nav {
 
    margin-left: 50px;
}

.nav-list img {
    margin-top: 10px;
}

.nav-list h2 {
    color: white;
    font-size: 20px;
    margin-top: -48px;
    margin-left: 400px;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-top: -50px;
    margin-left: 1130px;
}

.hero-list {
    color: white;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 20px;
    display: flex;
    gap: 50px;
}

.hero-list h3 {
    margin-top: 5px;
    color: rgb(116, 110, 110);
}

.hero-logo img {
    margin-left: 75px;
    margin-top: 20px;
}

.hero-logo-tg img {
    margin-left: 75px;
    margin-top: 20px;
}
.hero-login button{
    margin-left: 650px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: rgb(0, 145, 255);
   
}  